.pad-list {
  color: $clr3;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px 10px 110px;
  gap: 10px;

  @include for-narrow-layout {
    grid-template-columns: 1fr 1fr;
    padding: 20px 10px 220px;
  }

  @include for-normal-layout {
    gap: 30px;
    padding: 40px 10px 230px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
